<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>first</key>
		<string>Victor</string>
		<key>last</key>
		<string>Adu</string>
		<key>imagePic</key>
		<string>vick</string>
	</dict>
	<dict>
		<key>first</key>
		<string>Collin</string>
		<key>last</key>
		<string>Atherton</string>
		<key>imagePic</key>
		<string>collin</string>
	</dict>
	<dict>
		<key>first</key>
		<string>John</string>
		<key>last</key>
		<string>Clem</string>
		<key>imagePic</key>
		<string>john</string>
	</dict>
	<dict>
		<key>first</key>
		<string>Jeff</string>
		<key>last</key>
		<string>Gayle</string>
		<key>imagePic</key>
		<string>jeff</string>
	</dict>
	<dict>
		<key>first</key>
		<string>Daniel</string>
		<key>last</key>
		<string>Hoang</string>
		<key>imagePic</key>
		<string>dan</string>
	</dict>
	<dict>
		<key>first</key>
		<string>Brad</string>
		<key>last</key>
		<string>Johnson</string>
		<key>imagePic</key>
		<string></string>
	</dict>
	<dict>
		<key>first</key>
		<string>Leonardo </string>
		<key>last</key>
		<string>Lee</string>
		<key>imagePic</key>
		<string>leo</string>
	</dict>
	<dict>
		<key>first</key>
		<string>Alex</string>
		<key>last</key>
		<string>Rice</string>
		<key>imagePic</key>
		<string>alex</string>
	</dict>
	<dict>
		<key>first</key>
		<string>Kirby</string>
		<key>last</key>
		<string>Shabaga</string>
		<key>imagePic</key>
		<string>kirby</string>
	</dict>
	<dict>
		<key>first</key>
		<string>Michael</string>
		<key>last</key>
		<string>Tirenin</string>
		<key>imagePic</key>
		<string>mike</string>
	</dict>
</array>
</plist>
